.navbar
{
	background-color: #63ccc5;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.jumbotron
{
	background-color: #63ccc5;
}

.about
{
	background-color: #63ccc5;
}

.footer
{
	background-color: #63ccc5;
}